## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = random.sample(range(101), 80)
# range limit at 101 because 101=(last element intended)+1

print(sample_list_1)
print(len(sample_list_1))

[50, 28, 97, 53, 56, 74, 96, 61, 39, 58, 75, 1, 62, 27, 66, 44, 89, 32, 43, 19, 38, 33, 31, 57, 46, 29, 13, 78, 14, 88, 17, 67, 76, 47, 25, 23, 9, 100, 37, 12, 99, 36, 26, 79, 91, 87, 54, 51, 92, 86, 64, 3, 6, 59, 48, 16, 7, 95, 45, 90, 34, 15, 41, 84, 70, 94, 4, 2, 52, 80, 83, 60, 72, 0, 93, 85, 35, 21, 49, 63]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)
print(len(set1))

# Length is equal because random.sample() simulates random sampling without
# reposition, so all values are unique

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
sample_list_2 = [random.randint(0,100) for i in range(80)]
# random.randint() produces values 0<=x<=100

print(sample_list_2)
print(len(sample_list_2))

[92, 68, 2, 13, 100, 63, 72, 33, 33, 47, 25, 28, 40, 2, 13, 27, 62, 14, 11, 3, 75, 40, 55, 75, 22, 27, 64, 81, 36, 46, 39, 2, 37, 50, 46, 44, 77, 56, 28, 1, 16, 1, 79, 2, 92, 30, 64, 39, 70, 8, 88, 59, 4, 17, 56, 92, 43, 96, 36, 69, 49, 22, 42, 54, 9, 13, 16, 74, 47, 21, 22, 83, 83, 51, 27, 50, 51, 92, 42, 33]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)
print(len(set2))

# Length differs because elements were repeated in sample_list_2
# All elements in a set occur exactly once

51

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3 = set1 - set2
print(set3)

{0, 6, 7, 12, 15, 19, 23, 26, 29, 31, 32, 34, 35, 38, 41, 45, 48, 52, 53, 57, 58, 60, 61, 66, 67, 76, 78, 80, 84, 85, 86, 87, 89, 90, 91, 93, 94, 95, 97, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4 = set2 - set1
print(set4)

{68, 69, 8, 40, 42, 11, 77, 81, 22, 55, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5 = set1.intersection(set2)
print(set5)

{1, 2, 3, 4, 9, 13, 14, 16, 17, 21, 25, 27, 28, 33, 36, 37, 39, 43, 44, 46, 47, 49, 50, 51, 54, 56, 59, 62, 63, 64, 70, 72, 74, 75, 79, 83, 88, 92, 96, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# set3 is the difference between set1 and set2, containing all elements in set1 that do
# not exist in set2: {x: x in set1 and x not in set2}

# set4 is the difference between set2 and set1, containing all elements in set2 that do
# not exist in set1: {x: x in set2 and x not in set1}

# set5 is the intersection between set1 and set2, containing all elements that exist in
# both set1 and set2: {x: x in set1 and x in set2}

# set3 union set5 = set1. set4 union set5 = set2. The elements excluded by the difference
# operation are the same as those retrieved by the intersection operation.

print(len(set3) == (len(set1) - len(set5)))
print(len(set4) == (len(set2) - len(set5)))

True
True

#### Create an empty set called `set6`.

In [10]:
set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
set6.update(set3)
set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [12]:
print(set1==set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
union1 = set3.union(set4, set5)
union2 = set1.union(set2)

print(union1)
print(union2)
print(union1 == union2)

{0, 1, 2, 3, 4, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 19, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 72, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}
{0, 1, 2, 3, 4, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 19, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 72, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}
True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# because pop in sets removes random element, convert to list then pop
lst = list(set1)
lst.pop(0)

print(set1)
print(lst)

{0, 1, 2, 3, 4, 6, 7, 9, 12, 13, 14, 15, 16, 17, 19, 21, 23, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 70, 72, 74, 75, 76, 78, 79, 80, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}
[1, 2, 3, 4, 6, 7, 9, 12, 13, 14, 15, 16, 17, 19, 21, 23, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 70, 72, 74, 75, 76, 78, 79, 80, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100]

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for item in set(list_to_remove): #convert to set to avoid repeats
    if item in set1:
        set1.remove(item)

print(set1)

{0, 2, 3, 4, 6, 7, 12, 13, 14, 15, 16, 17, 23, 25, 26, 27, 28, 32, 33, 34, 35, 36, 37, 38, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 56, 57, 58, 60, 62, 63, 64, 66, 67, 70, 72, 74, 75, 76, 78, 80, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 100}