## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
sample_list_1 = random.sample(range(101), 80)
print(sample_list_1)

[12, 80, 67, 22, 16, 92, 8, 6, 90, 9, 99, 47, 51, 39, 4, 82, 38, 27, 98, 33, 68, 1, 69, 15, 84, 70, 93, 78, 45, 66, 32, 19, 24, 81, 29, 50, 11, 10, 96, 83, 71, 60, 36, 18, 5, 3, 41, 2, 31, 37, 56, 46, 61, 58, 64, 26, 85, 52, 48, 87, 97, 55, 95, 77, 25, 88, 86, 21, 65, 89, 20, 7, 23, 34, 49, 59, 0, 14, 73, 91]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [5]:
set1 = set(sample_list_1)
print(len(set1))

# Length is equal because random.sample() simulates random sampling without
# reposition, so all values are unique

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [7]:
sample_list_2 = [random.randint(0,100) for i in range(81)]
print(sample_list_2)

[73, 60, 12, 12, 6, 4, 1, 72, 19, 32, 36, 64, 57, 33, 25, 42, 58, 52, 17, 58, 98, 42, 98, 72, 42, 58, 3, 34, 95, 36, 58, 66, 81, 10, 42, 8, 30, 23, 54, 59, 85, 0, 33, 73, 76, 77, 56, 26, 71, 4, 27, 83, 45, 63, 44, 6, 66, 63, 97, 73, 47, 67, 25, 15, 81, 94, 42, 8, 71, 17, 98, 76, 66, 51, 25, 87, 59, 68, 56, 53, 75]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [8]:
set2 = set(sample_list_2)
print(len(set2))

# Length differs because elements were repeated in sample_list_2
# All elements in a set occur exactly once

52

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [9]:
set3 = set1 - set2
print(set3)

{2, 5, 7, 9, 11, 14, 16, 18, 20, 21, 22, 24, 29, 31, 37, 38, 39, 41, 46, 48, 49, 50, 55, 61, 65, 69, 70, 78, 80, 82, 84, 86, 88, 89, 90, 91, 92, 93, 96, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [10]:
set4 = set2 - set1
print(set4)

{72, 42, 75, 44, 76, 17, 53, 54, 94, 57, 30, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [12]:
set5 = set1.intersection(set2)
print(set5)

{0, 1, 3, 4, 6, 8, 10, 12, 15, 19, 23, 25, 26, 27, 32, 33, 34, 36, 45, 47, 51, 52, 56, 58, 59, 60, 64, 66, 67, 68, 71, 73, 77, 81, 83, 85, 87, 95, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [13]:
print(len(set3) == (len(set1) - len(set5)))
print(len(set4) == (len(set2) - len(set5)))

True
True

#### Create an empty set called `set6`.

In [14]:
set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [15]:
set6.update(set3)
set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [16]:
print(set1==set3)

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [17]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [20]:
union1 = set3.union(set4, set5)
union2 = set1.union(set2)

print(union1)
print(union2)
print(union1 == union2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
True

#### Using the `pop` method, remove the first element from `set1`.

In [22]:
# because pop in sets removes random element, convert to list then pop
lst = list(set1)
lst.pop(0)

print(set1)
print(lst)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 31, 32, 33, 34, 36, 37, 38, 39, 41, 45, 46, 47, 48, 49, 50, 51, 52, 55, 56, 58, 59, 60, 61, 64, 65, 66, 67, 68, 69, 70, 71, 73, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99}
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 31, 32, 33, 34, 36, 37, 38, 39, 41, 45, 46, 47, 48, 49, 50, 51, 52, 55, 56, 58, 59, 60, 61, 64, 65, 66, 67, 68, 69, 70, 71, 73, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99]

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [24]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for item in set(list_to_remove): #in case of repeats
    if item in set1:
        set1.remove(item)

print(set1)

{0, 2, 3, 4, 5, 6, 7, 8, 10, 12, 14, 15, 16, 18, 20, 22, 23, 24, 25, 26, 27, 32, 33, 34, 36, 37, 38, 45, 46, 47, 48, 50, 52, 55, 56, 58, 60, 64, 65, 66, 67, 68, 70, 73, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 95, 96, 97, 98}